<%- include("partials/header") -%>
<div class="body bg-zinc-900 h-screen">
<div>
    <!-- navbar -->
    <div>
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
              <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                  <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Dashboard</a>
                      <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Gear Inventory</a>
                      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Raid Gold</a>
                      <!-- <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a> -->
                      <!-- <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Calendar</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Add accessory -->
    <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
          <form action="/dashboard/createAccessory" method="POST">
            <div class="mb-5">
              <label for="accType" class="mb-3 block text-base font-medium text-[#07074D]">
                Accessory
              </label>
              <select class="select" name="accType" id="accType">
                <% types.forEach(element => { %>
                    <option value="<%- element %>"><%- element %></option>
                <% }); %>
              </select>
            </div>
            <div class="mb-5">
                <label for="accRarity" class="mb-3 block text-base font-medium text-[#07074D]">
                  Rarity
                </label>
                <select name="accRarity" id="accRarity" class="select">
                    <% rarities.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
              </div>
              <div class="mb-5">
                <label for="accQuality" class="mb-3 block text-base font-medium text-[#07074D]">
                  Quality
                </label>
                <input
                  type="text"
                  name="accQuality"
                  id="accQuality"
                  placeholder=""
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>

              <div class="flex">
                <div class="mb-5">
                  <label for="statsOne" class="mb-3 block text-base font-medium text-[#07074D]">
                    Stats 1
                  </label>
                  <select class="select" name="statsOne" id="statsOne">
                      <% stats.forEach(element => { %>
                          <option value="<%- element %>"><%- element %></option>
                      <% }); %>
                  </select>
                </div>
                <div class="mb-5 px-4">
                  <label for="statsOneValue" class="mb-3 block text-base font-medium text-[#07074D]">
                    Value
                  </label>
                  <input
                    type="text"
                    name="statsOneValue"
                    id="statsOneValue"
                    placeholder=""
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>

              <div class="flex">
                <div class="mb-5">
                  <label for="statsTwo" class="mb-3 block text-base font-medium text-[#07074D]">
                    Stats 2
                  </label>
                  <select class="select roster-select" name="statsTwo" id="statsTwo">
                      <option value="None">None</option>
                  <% stats.forEach(element => { %>
                      <option value="<%- element %>"><%- element %></option>
                  <% }); %>
                </select>
                </div>
                <div class="mb-5 px-4">
                  <label for="statsTwoValue" class="mb-3 block text-base font-medium text-[#07074D]">
                    Value
                  </label>
                  <input
                    type="text"
                    name="statsTwoValue"
                    id="statsTwoValue"
                    placeholder=""
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>

              <div class="flex">
                <div class="mb-5">
                  <label for="engravingOne" class="mb-3 block text-base font-medium text-[#07074D]">
                    Engraving 1
                  </label>
                  <select class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingOne" id="engravingOne">
                    <% firstEngraving.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div class="mb-5 px-4">
                  <label for="engravingOneNode" class="mb-3 block text-base font-medium text-[#07074D]">
                    Value
                  </label>
                  <input
                    type="text"
                    name="engravingOneNode"
                    id="engravingOneNode"
                    placeholder=""
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>

             <div class="flex">
              <div class="mb-5">
                <label for="engravingTwo" class="mb-3 block text-base font-medium text-[#07074D]">
                  Engraving 2
                </label>
                <select class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingTwo" id="engravingTwo">
                  <% bEngravings.forEach(element => { %>
                      <option value="<%- element %>"><%- element %></option>
                  <% }); %>
              </select>
              </div>
              <div class="mb-5 px-4">
                <label for="engravingTwoNode" class="mb-3 block text-base font-medium text-[#07074D]">
                  Value
                </label>
                <input
                  type="text"
                  name="engravingTwoNode"
                  id="engravingTwoNode"
                  placeholder=""
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
             </div>
             
              <div class="flex">
                <div class="mb-5">
                  <label for="negativeEngraving" class="mb-3 block text-base font-medium text-[#07074D]">
                    Negative Engraving
                  </label>
                  <select class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="negativeEngraving" id="negativeEngraving">
                    <% nEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div class="mb-5 px-4">
                  <label for="negativeNode" class="mb-3 block text-base font-medium text-[#07074D]">
                    Value
                  </label>
                  <input
                    type="text"
                    name="negativeNode"
                    id="negativeNode"
                    placeholder=""
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              </div>

              <div class="mb-5">
                <label for="character" class="mb-3 block text-base font-medium text-[#07074D]">
                  Character Name
                </label>
                <input
                  type="text"
                  name="character"
                  id="character"
                  placeholder=""
                  class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
            <div>
              <button class="hover:shadow-form rounded-md bg-gray-800 py-3 px-8 text-base font-semibold text-white outline-none">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
        <!-- Add stone -->
        <div class="flex items-center justify-center p-12 hidden">
            <div class="mx-auto w-full max-w-[550px]">
              <form action="/dashboard/createStone" method="POST">
                <div class="mb-5">
                  <label for="engravingOne" class="mb-3 block text-base font-medium text-[#07074D]">
                    Engraving 1
                  </label>
                  <select class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingOne" id="engravingOne">
                    <% bEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div class="mb-5">
                    <label for="engravingTwo" class="mb-3 block text-base font-medium text-[#07074D]">
                      Engraving 2
                    </label>
                    <select class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingTwo" id="engravingTwo">
                      <% bEngravings.forEach(element => { %>
                          <option value="<%- element %>"><%- element %></option>
                      <% }); %>
                  </select>
                  </div>
                  <div class="mb-5">
                    <label for="negativeEngraving" class="mb-3 block text-base font-medium text-[#07074D]">
                      Negative Engraving
                    </label>
                    <select class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="negativeEngraving" id="negativeEngraving">
                      <% nEngravings.forEach(element => { %>
                          <option value="<%- element %>"><%- element %></option>
                      <% }); %>
                  </select>
                  </div>
                  <div class="mb-5">
                    <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
                      Character Name
                    </label>
                    <input
                      type="text"
                      name="character"
                      id="character"
                      placeholder=""
                      class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                  </div>
                <div>
                  <button class="hover:shadow-form rounded-md bg-gray-800 py-3 px-8 text-base font-semibold text-white outline-none">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        <!-- Add bracelet -->
        <div>
            <form action="">
    
            </form>
        </div>
    </div>
</div>
<!-- Display Accessories, stones, bracelets -->
<div>
    <!-- All View-->
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-gray-200 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  </tr>
                </thead>
                <tbody>
                <% accessory.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                        <% if(element.accType === "Necklace"){ %>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                        <% }else{ %>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                        <% } %>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                <% stone.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Stone</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Relic</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteStone/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>    
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

    <!-- Ring View -->
    <div class="flex flex-col hidden">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                </tr>
              </thead>
              <tbody>
                <% accessory.forEach(element => { %>
                  <% if(element.accType === "Ring"){ %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                      <% if(element.accType === "Necklace"){ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                      <% }else{ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                      <% } %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                              <button type="submit">Delete</button>
                          </form>
                      </td>
                  </tr>
                  <% } %>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Earring View -->
    <div class="flex flex-col hidden">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                </tr>
              </thead>
              <tbody>
              <% accessory.forEach(element => { %>
                  <% if(element.accType === "Earring"){ %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                      <% if(element.accType === "Necklace"){ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                      <% }else{ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                      <% } %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                              <button type="submit">Delete</button>
                          </form>
                      </td>
                  </tr>
                  <% } %>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Necklace View -->
    <div class="flex flex-col hidden">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                </tr>
              </thead>
              <tbody>
                <% accessory.forEach(element => { %>
                  <% if(element.accType === "Necklace"){ %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                      <% if(element.accType === "Necklace"){ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                      <% }else{ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                      <% } %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                              <button type="submit">Delete</button>
                          </form>
                      </td>
                  </tr>
                  <% } %>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Stone View -->
    <div class="flex flex-col hidden">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-gray-200 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  </tr>
                </thead>
                <tbody>
                <% stone.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Stone</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Relic</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteStone/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>    
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
<%- include("partials/footer") %>
