<%- include("partials/header") -%>
<div class="body">
<div>
    <!-- Add accessory -->
    <div class="flex flex-row">
        <div>
            <form action="/dashboard/createAccessories" method="POST">
                <!-- Accessory -->
                <div class="flex-column">
                    <label for="accType">Accessory</label>
                    <select class="select" name="accType" id="accType">
                        <% types.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- Rarity -->
                <div class="flex-column">
                    <label for="accRarity">Rarity</label>
                    <select name="accRarity" id="accRarity" class="select">
                        <% rarities.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- Quality -->
                <div class="flex-column">
                    <label for="accQuality">Quality</label>
                    <input class="input" type="text" name="accQuality" id="accQuality" placeholder="">
                </div>
                <!-- First Stats -->
                <div class="flex-column">
                    <div>
                    <label for="statsOne">Stats 1</label>
                    <select class="select" name="statsOne" id="statsOne">
                        <% stats.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div>
                        <label for="statsOneValue">Value</label>
                        <input class="input" type="text" name="statsOneValue" id="statsOneValue" placeholder="">
                    </div>
                </div>
                <!-- Secondary Stats -->
                <div class="flex-column">
                    <div>
                    <label for="statsTwo">Stats 2</label>
                    <select class="select roster-select" name="statsTwo" id="statsTwo">
                            <option value="None">None</option>
                        <% stats.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div>
                        <label for="statsTwoValue">Value</label>
                        <input class="input" type="text" name="statsTwoValue" id="statTwoValue" placeholder="">
                    </div>
                </div>
                <!-- First Engraving -->
                <div class="flex-column">
                    <div>
                    <label for="engravingOne">Engraving 1</label>
                    <select class="select roster-select" name="engravingOne" id="engravingOne">
                        <% firstEngraving.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div>
                        <label for="engravingOneNode">Value</label>
                        <input class="input" type="text" name="engravingOneNode" id="engravingOneNode" placeholder="">
                    </div>
                </div>
                <!-- Second Engraving -->
                <div class="flex-column">
                    <div>
                    <label for="engravingTwo">Engraving 2</label>
                    <select class="select roster-select" name="engravingTwo" id="engravingTwo">
                        <% bEngravings.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div>
                        <label for="engravingTwoNode">Value</label>
                        <input class="input" type="text" name="engravingTwoNode" id="engravingTwoNode" placeholder="">
                    </div>
                </div>
                <!-- Negative Engravings -->
                <div class="flex-column">
                    <div>
                    <label for="negativeEngraving">Negative Engraving</label>
                    <select class="select roster-select" name="negativeEngraving" id="negativeEngraving">
                        <% nEngravings.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                    <div>
                        <label for="negativeNode">Value</label>
                        <input class="input" type="text" name="negativeNode" id="negativeNode" placeholder="">
                    </div>
                </div>
                <!-- Character Name -->
                <div class="flex-column">
                    <label for="character">Character Name</label>
                    <input class="input" type="text" name="character" id="character" placeholder="">
                </div>
                <div>
                    <button class="custom-btn" type="submit">Add</button>
                </div>
            </form>
        </div>
        <!-- Add stone -->
        <div>
            <form action="/dashboard/createStone" method="POST">
                <!-- First Engraving -->
                <div class="flex-column">
                    <div>
                    <label for="engravingOne">Engraving 1</label>
                    <select class="select roster-select" name="engravingOne" id="engravingOne">
                        <% bEngravings.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                </div>
                <!-- Second Engraving -->
                <div class="flex-column">
                    <div>
                    <label for="engravingTwo">Engraving 2</label>
                    <select class="select roster-select" name="engravingTwo" id="engravingTwo">
                        <% bEngravings.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                </div>
                <!-- Negative Engravings -->
                <div class="flex-column">
                    <div>
                    <label for="negativeEngraving">Negative Engraving</label>
                    <select class="select roster-select" name="negativeEngraving" id="negativeEngraving">
                        <% nEngravings.forEach(element => { %>
                            <option value="<%- element %>"><%- element %></option>
                        <% }); %>
                    </select>
                    </div>
                </div>
                <!-- Character Name -->
                <div class="flex-column">
                    <label for="character">Character Name</label>
                    <input class="input" type="text" name="character" id="character" placeholder="">
                </div>
                <div>
                    <button class="custom-btn" type="submit">Add</button>
                </div>
            </form>
        </div>
        <!-- Add bracelet -->
        <div>
            <form action="">
    
            </form>
        </div>
    </div>
</div>
<!-- Display Accessories, stones, bracelets -->
<div>
    <!-- All View-->
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-gray-200 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  </tr>
                </thead>
                <tbody>
                <% accessory.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                        <% if(element.accType === "Necklace"){ %>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                        <% }else{ %>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                        <% } %>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                <% stone.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Stone</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Relic</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteStone/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>    
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

    <!-- Ring View -->
    <div>

    </div>
    <!-- Earring View -->
    <div>

    </div>
    <!-- Necklace View -->
    <div>

    </div>
    <!-- Stone View -->
    <div class="flex flex-col hidden">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-gray-200 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  </tr>
                </thead>
                <tbody>
                <% stone.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Stone</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Relic</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteStone/<%= element._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>    
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
<%- include("partials/footer") %>
