<%- include("partials/header") -%>
<div class="body">
<div>
    <!-- Add accessory -->
    <div>
        <form action="/dashboard/createAccessories" method="POST">
            <!-- Accessory -->
            <div class="flex-column">
                <label for="accType">Accessory</label>
                <select class="select" name="accType" id="accType">
                    <% types.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
            </div>
            <!-- Rarity -->
            <div class="flex-column">
                <label for="accRarity">Rarity</label>
                <select name="accRarity" id="accRarity" class="select">
                    <% rarities.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
            </div>
            <!-- Quality -->
            <div class="flex-column">
                <label for="accQuality">Quality</label>
                <input class="input" type="text" name="accQuality" id="accQuality" placeholder="">
            </div>
            <!-- First Stats -->
            <div class="flex-column">
                <div>
                <label for="statsOne">Stats 1</label>
                <select class="select" name="statsOne" id="statsOne">
                    <% stats.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div>
                    <label for="statsOneValue">Value</label>
                    <input class="input" type="text" name="statsOneValue" id="statsOneValue" placeholder="">
                </div>
            </div>
            <!-- Secondary Stats -->
            <div class="flex-column">
                <div>
                <label for="statsTwo">Stats 2</label>
                <select class="select roster-select" name="statsTwo" id="statsTwo">
                        <option value="None">None</option>
                    <% stats.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div>
                    <label for="statsTwoValue">Value</label>
                    <input class="input" type="text" name="statsTwoValue" id="statTwoValue" placeholder="">
                </div>
            </div>
            <!-- First Engraving -->
            <div class="flex-column">
                <div>
                <label for="engravingOne">Engraving 1</label>
                <select class="select roster-select" name="engravingOne" id="engravingOne">
                    <% firstEngraving.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div>
                    <label for="engravingOneNode">Value</label>
                    <input class="input" type="text" name="engravingOneNode" id="engravingOneNode" placeholder="">
                </div>
            </div>
            <!-- Second Engraving -->
            <div class="flex-column">
                <div>
                <label for="engravingTwo">Engraving 2</label>
                <select class="select roster-select" name="engravingTwo" id="engravingTwo">
                    <% bEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div>
                    <label for="engravingTwoNode">Value</label>
                    <input class="input" type="text" name="engravingTwoNode" id="engravingTwoNode" placeholder="">
                </div>
            </div>
            <!-- Negative Engravings -->
            <div class="flex-column">
                <div>
                <label for="negativeEngraving">Negative Engraving</label>
                <select class="select roster-select" name="negativeEngraving" id="negativeEngraving">
                    <% nEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div>
                    <label for="negativeNode">Value</label>
                    <input class="input" type="text" name="negativeNode" id="negativeNode" placeholder="">
                </div>
            </div>
            <!-- Character Name -->
            <div class="flex-column">
                <label for="character">Character Name</label>
                <input class="input" type="text" name="character" id="character" placeholder="">
            </div>
            <div>
                <button class="custom-btn" type="submit">Add</button>
            </div>
        </form>
    </div>
    <!-- Add stone -->
    <div>
        <form action="/dashboard/createStone" method="POST">
            <!-- First Engraving -->
            <div class="flex-column">
                <div>
                <label for="engravingOne">Engraving 1</label>
                <select class="select roster-select" name="engravingOne" id="engravingOne">
                    <% bEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
            </div>
            <!-- Second Engraving -->
            <div class="flex-column">
                <div>
                <label for="engravingTwo">Engraving 2</label>
                <select class="select roster-select" name="engravingTwo" id="engravingTwo">
                    <% bEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
            </div>
            <!-- Negative Engravings -->
            <div class="flex-column">
                <div>
                <label for="negativeEngraving">Negative Engraving</label>
                <select class="select roster-select" name="negativeEngraving" id="negativeEngraving">
                    <% nEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
            </div>
            <!-- Character Name -->
            <div class="flex-column">
                <label for="character">Character Name</label>
                <input class="input" type="text" name="character" id="character" placeholder="">
            </div>
            <div>
                <button class="custom-btn" type="submit">Add</button>
            </div>
        </form>
    </div>
    <!-- Add bracelet -->
    <div class="hidden">
        <form action="">

        </form>
    </div>
</div>
</div>
<%- include("partials/footer") %>