<%- include("partials/header") -%>
<div class="body min-h-screen bg-zinc-800">
<div>
    <!-- navbar -->
    <div>
        <nav class="bg-gray-800">
          <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
              <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:ml-6 sm:block">
                  <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
                    <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Gear Inventory</a>
                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Raid Gold</a>
                  </div>
                </div>
              </div>
              <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                  <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign out</a>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- Display Accessories, stones, bracelets -->
<div class="max-h-full">
  <div class="bg-white dark:bg-gray-900 py-4 md:py-7 px-4 md:px-8 xl:px-10 rounded-md pb-10">
    <div class="sm:flex items-center justify-between">
        <div class="flex items-center">
          <div class="ml-4 sm:ml-8">
            <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1" onclick="showAll()">
                    <p>All</p>
              </button>
          </div>
          <div class=" ml-4 sm:ml-8">
            <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1" onclick="showRing()">
                    <p>Rings</p>
              </button>
          </div>
          <div class="ml-4 sm:ml-8">
            <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1"  onclick="showEarring()">
                    <p>Earrings</p>
              </button>
          </div>
          <div class="ml-4 sm:ml-8">
            <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1" onclick="showNecklace()">
                    <p>Necklace</p>
              </button>
          </div>
          <div class="ml-4 sm:ml-8">
            <button class="mx-2 my-2 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-gray-600 dark:text-gray-200 px-8 py-3 focus:outline-none focus:ring-1 focus:ring-offset-1" onclick="showStone()">
                    <p>Stone</p>
              </button>
          </div>
        </div>

        <div>
          <div class="relative flex w-full flex-wrap items-stretch">
            <input
              type="search"
              class="relative m-0 -mr-0.5 block min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="button-addon1" />
        
            <!--Search button-->
            <button
              class="relative z-[2] flex items-center rounded-r bg-primary px-8 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
              type="button"
              id="button-addon1"
              data-te-ripple-init
              data-te-ripple-color="light">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-5 w-5">
                <path
                  fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
        
        <!-- <button onclick="modalHandler(true)" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 mx-8  bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
            <p class="text-sm font-medium leading-none text-white">Add Item</p>
        </button> -->
  </div>
    <!-- All View-->
    <div class="flex flex-col content " id="all">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden ">
              <table class="min-w-full">
                <thead class="bg-gray-200 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  </tr>
                </thead>
                <tbody>
                <% accessory.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <img class="w-8" src="images/icons/<%= element.accType %>_Icon.webp" alt="<%= element.accType %>_Icon">
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                        <% if(element.accType === "Necklace"){ %>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                        <% }else{ %>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                        <% } %>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                                <button class="mx-1 my-1 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-red-700 dark:text-red-700 px-4 py-1 focus:outline-none focus:ring-1 focus:ring-offset-1" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                <% stone.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <img class="w-8" src="images/icons/Stone_Icon.webp" alt="Stone_Icon">
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Stone</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Relic</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteStone/<%= element._id %>?_method=DELETE" method="POST">
                              <button class="mx-1 my-1 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-red-700 dark:text-red-700 px-4 py-1 focus:outline-none focus:ring-1 focus:ring-offset-1" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>    
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <!-- Ring View -->
    <div class="flex flex-col content hidden" id="ring">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                </tr>
              </thead>
              <tbody>
                <% accessory.forEach(element => { %>
                  <% if(element.accType === "Ring"){ %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <img class="w-8" src="images/icons/<%= element.accType %>_Icon.webp" alt="<%= element.accType %>_Icon">
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                      <% if(element.accType === "Necklace"){ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                      <% }else{ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                      <% } %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                          <button class="mx-1 my-1 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-red-700 dark:text-red-700 px-4 py-1 focus:outline-none focus:ring-1 focus:ring-offset-1" type="submit">Delete</button>
                      </form>
                      </td>
                  </tr>
                  <% } %>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Earring View -->
    <div class="flex flex-col content hidden" id="earring">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                </tr>
              </thead>
              <tbody>
              <% accessory.forEach(element => { %>
                  <% if(element.accType === "Earring"){ %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <img class="w-8" src="images/icons/<%= element.accType %>_Icon.webp" alt="<%= element.accType %>_Icon">
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                      <% if(element.accType === "Necklace"){ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                      <% }else{ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                      <% } %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                          <button class="mx-1 my-1 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-red-700 dark:text-red-700 px-4 py-1 focus:outline-none focus:ring-1 focus:ring-offset-1" type="submit">Delete</button>
                      </form>
                      </td>
                  </tr>
                  <% } %>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Necklace View -->
    <div class="flex flex-col content hidden" id="necklace">
      <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-gray-200 border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                </tr>
              </thead>
              <tbody>
                <% accessory.forEach(element => { %>
                  <% if(element.accType === "Necklace"){ %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <img class="w-8" src="images/icons/<%= element.accType %>_Icon.webp" alt="<%= element.accType %>_Icon">
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.accType %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accRarity %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.accQuality %></td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsOne %> +<%= element.statsOneValue %></td>
                      <% if(element.accType === "Necklace"){ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= element.statsTwo %> +<%= element.statsTwoValue %></td>
                      <% }else{ %>
                          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">None</td>
                      <% } %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %> +<%= element.engravingOneNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %> +<%= element.engravingTwoNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %> +<%= element.negativeNode %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        <form action="/dashboard/deleteAccessories/<%= element._id %>?_method=DELETE" method="POST">
                          <button class="mx-1 my-1 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-red-700 dark:text-red-700 px-4 py-1 focus:outline-none focus:ring-1 focus:ring-offset-1" type="submit">Delete</button>
                      </form>
                      </td>
                  </tr>
                  <% } %>
              <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Stone View -->
    <div class="flex flex-col content hidden" id="stone">
        <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
          <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full">
                <thead class="bg-gray-200 border-b">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Rarity</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quality</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Primary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Secondary Stats</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 1</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Engraving 2</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Negative Engraving</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Character Name</th>
                    <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"></th>
                  </tr>
                </thead>
                <tbody>
                <% stone.forEach(element => { %>
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          <img class="w-8" src="images/icons/Stone_Icon.webp" alt="Stone_Icon">
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Stone</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">Relic</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">N/a</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingOne %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.engravingTwo %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.negativeEngraving %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= element.character %></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            <form action="/dashboard/deleteStone/<%= element._id %>?_method=DELETE" method="POST">
                              <button class="mx-1 my-1 transition duration-150 ease-in-out hover:bg-indigo-100 hover:text-indigo-700 rounded-full text-red-700 dark:text-red-700 px-4 py-1 focus:outline-none focus:ring-1 focus:ring-offset-1" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>    
                </tbody>
              </table>
            </div>
          </div>
        </div>  
    </div>
  </div>
</div>

 <!-- Add accessory -->
<div class="flex items-center justify-center z-10 absolute top-0 right-0 bottom-0 left-0 hidden" id="acc">
    <div class="flex items-center justify-center z-10 absolute top-0 right-0 bottom-0 left-0">
      <div class="mx-auto max-w-[550px] relative py-10 px-5 md:px-10 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-md rounded border border-gray-400">
        <form action="/dashboard/createAccessories" method="POST">
          <div class="flex">
            <div class="mb-5">
              <label for="accType" class="mb-3 block text-base font-medium text-gray-300">
                Accessory
              </label>
              <select class="w-40 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="accType" id="accType">
                <% types.forEach(element => { %>
                    <option value="<%- element %>"><%- element %></option>
                <% }); %>
              </select>
            </div>
            <div class="mb-5 px-4">
                <label for="accRarity" class="mb-3 block text-base font-medium text-gray-300">
                  Rarity
                </label>
                <select class="w-40 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="accRarity" id="accRarity">
                    <% rarities.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
              </div>
              <div class="mb-5">
                <label for="accQuality" class="mb-3 block text-base font-medium text-gray-300">
                  Quality
                </label>
                <input
                  type="text"
                  name="accQuality"
                  id="accQuality"
                  placeholder=""
                  class="w-20 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>  
          </div>
    
            <div class="flex">
              <div class="mb-5">
                <label for="statsOne" class="mb-3 block text-base font-medium text-gray-300">
                  Stats 1
                </label>
                <select class="w-44 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="statsOne" id="statsOne">
                    <% stats.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
              </div>
              <div class="mb-5 px-4">
                <label for="statsOneValue" class="mb-3 block text-base font-medium text-gray-300">
                  Value
                </label>
                <input
                  type="text"
                  name="statsOneValue"
                  id="statsOneValue"
                  placeholder=""
                  class="w-20 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
            </div>
    
            <div class="flex">
              <div class="mb-5">
                <label for="statsTwo" class="mb-3 block text-base font-medium text-gray-300">
                  Stats 2
                </label>
                <select class="w-44 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="statsTwo" id="statsTwo">
                    <option value="None">N/A</option>
                <% stats.forEach(element => { %>
                    <option value="<%- element %>"><%- element %></option>
                <% }); %>
              </select>
              </div>
              <div class="mb-5 px-4">
                <label for="statsTwoValue" class="mb-3 block text-base font-medium text-gray-300">
                  Value
                </label>
                <input
                  type="text"
                  name="statsTwoValue"
                  id="statsTwoValue"
                  placeholder=""
                  class="w-20 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
            </div>
    
            <div class="flex">
              <div class="mb-5">
                <label for="engravingOne" class="mb-3 block text-base font-medium text-gray-300">
                  Engraving 1
                </label>
                <input class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingOne" id="engravingOne" list="firstEngraving" placeholder="Engraving One">
                  <datalist id="firstEngraving">
                    <% firstEngraving.forEach(element => { %>
                      <option value="<%- element %>"><%- element %></option>
                      <% }); %>
                  </datalist> 
                </input>
              </div>
              <div class="mb-5 px-4">
                <label for="engravingOneNode" class="mb-3 block text-base font-medium text-gray-300">
                  Value
                </label>
                <input
                  type="text"
                  name="engravingOneNode"
                  id="engravingOneNode"
                  placeholder=""
                  class="w-20 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
            </div>
    
           <div class="flex">
            <div class="mb-5">
              <label for="engravingTwo" class="mb-3 block text-base font-medium text-gray-300">
                Engraving 2
              </label>
              <input class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingTwo" id="engravingTwo" list="bEngravings" placeholder="Engraving Two">
                <datalist id="bEngravings">
                  <% bEngravings.forEach(element => { %>
                    <option value="<%- element %>"><%- element %></option>
                <% }); %>
                </datalist>
              </input>
            </div>
            <div class="mb-5 px-4">
              <label for="engravingTwoNode" class="mb-3 block text-base font-medium text-gray-300">
                Value
              </label>
              <input
                type="text"
                name="engravingTwoNode"
                id="engravingTwoNode"
                placeholder=""
                class="w-20 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
           </div>
           
            <div class="flex">
              <div class="mb-5">
                <label for="negativeEngraving" class="mb-3 block text-base font-medium text-gray-300">
                  Negative Engraving
                </label>
                <select class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="negativeEngraving" id="negativeEngraving">
                  <% nEngravings.forEach(element => { %>
                      <option value="<%- element %>"><%- element %></option>
                  <% }); %>
              </select>
              </div>
              <div class="mb-5 px-4">
                <label for="negativeNode" class="mb-3 block text-base font-medium text-gray-300">
                  Value
                </label>
                <input
                  type="text"
                  name="negativeNode"
                  id="negativeNode"
                  placeholder=""
                  class="w-20 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
              </div>
            </div>
    
            <div class="mb-5">
              <label for="character" class="mb-3 block text-base font-medium text-gray-300">
                Character Name
              </label>
              <input
                type="text"
                name="character"
                id="character"
                placeholder=""
                class="w-68 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              />
            </div>
          <div>
            <button class="hover:shadow-form rounded-md bg-gray-800 hover:text-indigo-700 transition duration-150 ease-in-out py-3 px-8 text-base font-semibold text-white outline-none">
              Submit
            </button>
          </div>
        </form>
        <button class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" onclick="openAccessory()" aria-label="close modal" role="button">
          <svg  xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <line x1="18" y1="6" x2="6" y2="18" />
              <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
      </button>
      </div>
    </div>
</div>
<!-- Add stone -->
<div class="flex items-center justify-center z-10 absolute top-0 right-0 bottom-0 left-0 hidden" id="rock">
    <div class="mx-auto w-96 max-w-[550px] relative py-10 px-5 md:px-10 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-md rounded border border-gray-400">
            <form action="/dashboard/createStone" method="POST">
              <div class="mb-5">
                <label for="engravingOne" class="mb-3 block text-base font-medium text-gray-300">
                  Engraving 1
                </label>
                <input class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingOne" id="engravingOne" list="bEngravings" placeholder="Engraving One">
                  <datalist id="bEngravings">
                    <% bEngravings.forEach(element => { %>
                      <option value="<%- element %>"><%- element %></option>
                  <% }); %>
                  </datalist>
                </input>
              </div>
              <div class="mb-5">
                  <label for="engravingTwo" class="mb-3 block text-base font-medium text-gray-300">
                    Engraving 2
                  </label>
                  <input class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="engravingTwo" id="engravingTwo" list="bEngravings" placeholder="Engraving Two">
                    <datalist id="bEngravings">
                      <% bEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                    </datalist>
                  </input>
                </div>
                <div class="mb-5">
                  <label for="negativeEngraving" class="mb-3 block text-base font-medium text-gray-300">
                    Negative Engraving
                  </label>
                  <select class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" name="negativeEngraving" id="negativeEngraving">
                    <% nEngravings.forEach(element => { %>
                        <option value="<%- element %>"><%- element %></option>
                    <% }); %>
                </select>
                </div>
                <div class="mb-5">
                  <label for="subject" class="mb-3 block text-base font-medium text-gray-300">
                    Character Name
                  </label>
                  <input
                    type="text"
                    name="character"
                    id="character"
                    placeholder=""
                    class="w-72 rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                  />
                </div>
              <div>
                <button class="hover:shadow-form rounded-md bg-gray-800 hover:text-indigo-700 transition duration-150 ease-in-out py-3 px-8 text-base font-semibold text-white outline-none">
                  Submit
                </button>
              </div>
            </form>
            <button class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600" onclick="openStone()" aria-label="close modal" role="button">
              <svg  xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <line x1="18" y1="6" x2="6" y2="18" />
                  <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
          </button>
    </div>
</div>

<div>
  <button class="absolute bottom-36 right-10 z-10 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-6 mx-4  bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded-full" onclick="openAccessory(true)">
    <img class="w-8" src="images/icons/Ring_Icon.webp" alt="Accessory_Icon">
  </button>
  <button class="absolute bottom-10 right-10 z-10 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-6 mx-4  bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded-full" onclick="openStone(true)">
    <img class="w-8" src="images/icons/Stone_Icon.webp" alt="Stone_Icon">
  </button>
</div>

<%- include("partials/footer") %>
